{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}Accueil
{% endblock %}
{% block body %}
	<h1 class="text-center text-primary">
		Gestion des accès et des habilitations
	</h1>
{% endblock %}
